/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Heebo", sans-serif;
    background-color: #f5f5f5;
  }
  
  main {
    font-family: "Heebo", sans-serif;
  }
  
  /* Header Styles */
  
  .header.scrolled {
    background-color: hsl(111.82deg 64.71% 6.67%); /* Dark with slight transparency when scrolled */
    box-shadow: 0 4px 8px hsl(111.82deg 64.71% 6.67%); /* Add a subtle shadow for better distinction */
    opacity: 0.94;
  }

  .header.scrolled #logo {
    color: #f3a733;
  }

  .header {
    /* box-shadow: 1px 1px 4px 0 hsla(111, 70%, 4%, 0.979); */
    position: fixed;
    width: 100%;
    z-index: 3;
    /* background-color: hsla(111, 70%, 4%, 0.979); */
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    color: white
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    /* background-color: #f4f4f4; */
  }
  
  @font-face { 
    font-family: 'MyFont'; 
    src: url('Adelicia.otf') format("truetype"); 
    font-weight: normal; 
    font-style: normal; 
  } 
  .header #logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
    font-family: 'MyFont';
    color: #ffffff;
  }


  @media screen and (max-width: 426px) {
    .header #logo {
      font-size: 1.5rem;
    }
  }

  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* 48em = 768px */
  
  @media (min-width: 48em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }
  
  
  #logo {
    font-family: "Adelicia", cursive;
    font-size: 2rem;
    color: white;
  }
  
  /* Landing Section
  .landing {
    min-height: 100vh;
    background: url('video/VID-20230729-WA0001.mp4') no-repeat center center/cover;
    padding: 0rem 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  } */
  
  .big-text {
    font-size: 6rem;
    font-family: "adelicia", cursive;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
    text-align: center;
  }
  
  /* About Us Section */
  .about-us {
    padding: 0rem 2rem;
    background-color: #fff;
    margin-top: 2rem;  /*  Adjusted for fixed header */
  }
  
  .about-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    gap: 2rem; /* Spacing between text and images */
    flex-direction: column; /* Stack items vertically */
  }
  
  .about-content {
    max-width: 55%;
    color: #333;
  }
  
  .about-content h2 {
    font-family: "Lobster", cursive;
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #e48f76;
  }
  
  .about-content p {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 1.5rem;
  }
  
  /* Scrolling Images Section */
  .scrolling-images {
    width: 40%;
    max-width: 500px; /* Limit max width of images */
    overflow-x: scroll;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .scrolling-images::-webkit-scrollbar {
    display: none;
  }
  
  .image-container {
    display: flex;
  }
  
  .image-container img {
    border-radius: 10px;
  }
  
  /* Intro and Slider */
  .intro {
    background: #091c06;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  
  .slider {
    background: rgb(97, 105, 109);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
  }
  
  .intro-text {
    color: #f3a733;
    font-family: 'MyFont';
    font-size: 6rem;
    text-align: center;
  }

  @media (max-width: 768px) {
    .intro-text {
      font-size: 4rem;
    }
  }

  @media (max-width: 500px) {
    .intro-text {
      font-size: 2rem;
    }
  }

  @media (max-width: 320px) {
    .intro-text {
      font-size: 1.5rem;
    }
  }
  
  .hide {
    background: black;
    overflow: hidden;
  }
  
  .hide span {
    transform: translateY(100%);
    display: inline-block;
  }
  
  /* Footer */
  footer {
    background-color: #333;
    color: #f5f5f5;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  /* Style Section*/
  .style {
    padding: 2rem 2rem;
    background-color: #fff;
  }
  .style h2 {
    font-family: "Lobster", cursive;
    font-size: 3rem;
    text-align: center;
    color: #e48f76;
    margin-bottom: 2rem;
  }

  /* Products Section */
  .products {
    padding: 2rem 2rem;
    background-color: #f0f0f0; /* Light grey background */
  }
  
  .products h2 {
    font-family: "Lobster", cursive;
    font-size: 3rem;
    text-align: center;
    color: #e48f76;
    margin-bottom: 2rem;
  }
  
  .product-item {
    /* width: 30%; Width of each product */
    background-color: #fff;
    text-align: center;
    /* padding: 3.5rem; */
    gap: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth hover effect */
  }
  
  .product-item:hover {
    transform: translateY(-10px); /* Slight lift effect on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* More pronounced shadow */
  }
  
  .product-item img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-bottom: 1rem;
    object-fit: cover;
  }
  
  .product-item h3 {
    font-size: 1.5rem;
    font-family: "Lobster", cursive;
    padding: 3px;
    color: #333;
  }
  
  .product-item p {
    font-size: 1rem;
    font-family: "Lobster", cursive;
    color: #666;
    padding: 3px;
    line-height: 1.6;
  }
  
  /* Responsive Design for smaller screens */
  @media (max-width: 768px) {
    /* .product-grid {
      flex-direction: column; /* Stack products vertically on smaller screens */
    /* } */ */
  
    .product-item {
      width: 50%; /* Full width for smaller screens */
      margin-bottom: 2rem; /* Add spacing between stacked items */
    }

    .product-grid{
      gap: 10px;
    }
  }
  /* Landing Section */
.landing {
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    color: white;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.landing-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.big-text {
    position: absolute;
    font-size: 6rem;
    color: white;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
    text-align: center;
}

/* Adjust for mobile screens */
@media (max-width: 768px) {
    .video-container {
        position: relative;
        height: 50vh; /* Reduce the height on smaller screens */
    }

    .landing-video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .big-text {
        font-size: 2.5rem; /* Reduce the font size for mobile */
        text-shadow: none; /* Remove shadow to make it clearer on mobile */
        padding: 1rem;
    }

    /* Adjust the About Us section for mobile */
    .about-us {
        padding: 2rem 1rem;
    }

    .about-content {
        max-width: 100%; /* Use full width for mobile */
        text-align: center;
    }

    .about-content h2 {
        font-size: 2rem;
    }

    .about-content p {
        font-size: 1rem;
        line-height: 1.5;
    }

    /* Adjust scrolling images section for mobile */
    .scrolling-images {
        width: 100%;
    }

    .scrolling-images img {
        width: 100%;
        height: auto;
    }
}

  
  
  
  /* Contact Section */
.contact {
    padding: 4rem 2rem;
    background-color:#f0f0f0;
    color: #333;
    text-align: center;
  }
  
  .contact-container {
    display: flex;
    justify-content: space-between; /* Ensure form and image are spaced */
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 2rem; /* Space between form and image */
  }
  
  .contact-content {
    flex: 1; /* Allow the form to take up remaining space */
    text-align: left; /* Align text to the left */
  }
  
  .contact h2 {
    font-family: "Lobster", cursive;
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #e48f76;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  input, textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
  }
  
  textarea {
    resize: vertical;
  }
  
  button {
    background-color: #f3a683;
    color: white;
    border: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #e07b4e;
  }
  
  /* Contact Image on Right Side */
  .contact-image {
    flex: 1; /* Allow the image container to take up the remaining space */
  }
  
  .contact-image img {
    width: 80%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Responsive Design for Contact Section */
  @media (max-width: 768px) {
    .contact-container {
      flex-direction: column; /* Stack form and image vertically on smaller screens */
      text-align: center;
    }
  
    .contact-image {
      margin-top: 2rem;
    }
  
    .contact-form {
      text-align: center;
    }
  }
  
  .coming-soon {
    min-height: 20vh;
    background: url('image/fashion-apparel-india.jpeg') no-repeat center center/cover;
    padding: 0rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }


.img-container{
  height: 350px;
  overflow: hidden;
}

/* Grid Container */
.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 cards per row by default */
  gap: 40px;
}

/* Individual Card Styles */
.product-item {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Responsive Styles */
@media (max-width: 850px) { /* Medium screens */
  .product-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 cards per row */
  }
}

@media (max-width: 480px) { /* Small screens */
  .product-grid {
    grid-template-columns: 1fr; /* 1 card per row */
  }
}

.typewriter {
  color: #fff;
  font-family: monospace;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  /* border-right: .15em solid orange; */
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Adjust as needed */
  animation:
      typing 5s steps(40, end);
  width: 100%;
  overflow: hidden;
}


/* @media (max-width: 768px) {
  .typewriter img {
    height: 50px;
  }
}

@media (min-width: 768px ) and (max-width: 900px) {
  .typewriter img {
    height: 70px;
  }
} */


.typewriter img{
  /* width: 100%; */
}

/* The typing effect */
@keyframes typing {
  0% {
      width: 0
  }
  50% {
      width: 50%
  }
  100%{
    width: 100%;
  }
}

.image-container{
  width: 100%;
  overflow: hidden;
  position: relative;
}

.mask{
  position: absolute;
  animation: my 5s ease;
  animation-fill-mode: forwards;
  width: 100%;
  height: 300px;
  background-color: #091c06;
}

img{
  width: 100%;
}

@keyframes my {
  from{
      left: 0%;
  }
  to{
      left: 100%;
  }
}

/* product title container */
h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 10px;
    margin: 5px 0;
    position: relative;
    color:#e48f76
  }
  
  h2::before,
  h2::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid rgba(154, 151, 151, 0.866); /* Line color */
    margin: 0 15px; /* Adjust the space between the line and text */
  }
  
  h2::before {
    margin-right: 15px;
  }
  
  h2::after {
    margin-left: 15px;
  }

  @media (min-width: 769px) {
    #responsive-video {
      height: 100%;
    }
  }